body {
  font-family: sans-serif;
}

#modal-cover {
  /* position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center; */
  display: none;
}

.modal {
  padding: 1em;
}
